* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color:rgb(38, 41, 48);
}
.title-container {
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.title-group {
    display: flex;
    width: calc(100% - 40px);
    overflow: hidden;
    flex-direction: column;
    align-items: center;
}
.title-container h1 {
    font-size: 1.7rem;
    font-weight: 300;
    margin: 20px 0 5px;
    text-align: center;
}
.title-container h1:lang(zh) {
    letter-spacing: 0.5rem;
}
.title-container h1:lang(en) {
    letter-spacing: 0.05rem;
    font-weight: 200;
}
.title-container h1 > b:lang(zh) {
    font-weight: 800;
}
.title-container h1 > b:lang(en) {
    font-weight: 600;
}
.title-container h3 {
    font-size: 0.8rem;
    letter-spacing: 0.25ch;
    margin: 5px 0 20px;
}
.title-container a.logo {
    margin-top: 20px;
}
.title-container a.logo img {
    width: 40px;
}
.title-group {
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.04);
}
.title-container a.nextpage {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 2rem;
    transition: color 200ms ease-out;
    animation: jumping 2s ease-in-out infinite;
}
.title-container a.nextpage:hover {

    color: rgb(0, 0, 0);
}
#bg-container {
    width: 100%;
    position: fixed;
    z-index: -1;
    /* background-image: radial-gradient( circle 50vw at 8.6% 27.9%,  rgba(62,147,252,0.57) 12.9%, rgba(239,183,192,0.44) 91.2% ); */
}
.page {
    padding: 40px 12px 0;
}
.page.opaque {
    background-color: rgba(235, 247, 255, 0.8);
    /* box-shadow: 0 4px 24px rgba(0, 0, 0, 0.04); */
    backdrop-filter: blur(20px);
    padding: 30px 12px;
}
.content {
    margin: 40px auto;
    max-width: 1280px;
}
.content h2 {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
.bg-ball {
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    /* background-color: red; */
    border-radius: 9999px;
    transform-origin: center;
    transition: transform 100ms ease-out
}
.bg-ball:nth-of-type(1) {
    background-image: linear-gradient( 109.6deg,  rgba(228,107,232,1) 11.2%, rgba(87,27,226,1) 96.7% );
    filter:blur(15px);
}
.bg-ball:nth-of-type(2) {
    background-image: radial-gradient( circle 311px at 8.6% 27.9%,  rgba(62,147,252,0.57) 12.9%, rgba(239,183,192,0.44) 91.2% );
    filter:blur(30px);
}
.bg-ball:nth-of-type(3) {
    background-image: radial-gradient( circle 200.6px at 10% 20%,  rgba(133,255,189,1) 0%, rgba(255,251,125,1) 90.7% );
}

.typewriter {
    text-wrap: nowrap;
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    width: 1ch;
    font-weight: 300;
    overflow: hidden;
    animation: 10s typewriter steps(32, jump-none) infinite,
               1s cursor infinite;
}
@media screen and (min-width: 800px) {
    .title-container h1 {
        font-size: 2rem;
    }
    .title-container h3{
        font-size: 1rem;
    }
}
.typewriter b {
    font-weight: 600;
}

@keyframes typewriter {
    0% {
        width: 0;
    }
    25%, 90% {
        width: 39ch;
    }
    100% {
        width: 0;
    }
}

@keyframes cursor {
    5%, 45% {
        border-right: 1.5px solid rgba(0, 0, 0, 0.6);
    }
    55%, 95% {
        border-right: 1.5px solid rgba(0, 0, 0, 0);
    }
}

@keyframes jumping {
    0%, 100% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;	
    row-gap: 20px;
}

#subdivisions .grid-container {
    margin-top: 40px;
    width: calc(100% - 20px);
    margin: 40px auto 0;
}
#subdivisions .grid-container .card {
    text-decoration: none;
    color: unset;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.04);
    transition: box-shadow 200ms ease-out, border 200ms ease-out, transform 200ms ease-out;
}
#subdivisions .grid-container .card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.08),
                0 4px 28px -4px rgba(0, 0, 0, 0.04);
}
#subdivisions .grid-container .card:hover .top-image {
    width: 110%;
}
#subdivisions .grid-container .card h3 {
    font-weight: normal;
    margin-top: 0;
}
#subdivisions .grid-container .card p {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 0;
}

#subdivisions .grid-container .card .card-content {
    width: calc(100% - 50px);
    margin: 40px 0;
}
#subdivisions .grid-container .card .card-content:lang(en) {
    font-size: 0.9rem;
    font-weight: 300;
}
#subdivisions .grid-container .card .card-content:lang(en) h3 {
    font-size: 1.1rem;
    font-weight: 400;
}

#subdivisions .grid-container .card:nth-child(1) {
    background-color: rgba(245, 247, 252, 0.8);
}
#subdivisions .grid-container .card:nth-child(2) {
    background-color: rgba(229, 247, 236, 0.8);
}
#subdivisions .grid-container .card:nth-child(3) {
    background-color: rgba(249, 240, 246, 0.8);
}
#subdivisions .grid-container .card:nth-child(4) {
    background-color: rgba(232, 240, 246, 0.8);
}

#subdivisions .grid-container .card .top-image {
    background-size: cover;
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: width 600ms ease-out;
}

@media screen and (min-width: 640px) {
    #subdivisions .grid-container  {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 800px) {
    #subdivisions .grid-container  {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 1280px) {
    #subdivisions .grid-container  {
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 640px) {
    .people-page .grid-container  {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 800px) {
    .people-page .grid-container  {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 1280px) {
    .people-page .grid-container  {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

.people {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    text-decoration: unset;
    cursor: pointer;
}
a {
    color: inherit;
}
.people-page {
    margin: 0 auto;
}
.people-page .grid-container {
    margin: 40px auto 0;
    width: 90%;
}
.people .avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 200px;
}
.people h3 {
    margin-bottom: 0;
	font-size: 1.1rem;
}

.people h4 {
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 8px;
    margin-bottom: 0;
}
.people h4:lang(en) {
    font-size: 0.9rem;
    font-weight: 400;
}
.people h4 + h4 {
    margin-top: 0;
}

.people:nth-child(1) .avatar {
    object-position: 50% 50%;
}
.people:nth-child(2) .avatar {
    object-position: 50% 5%;
}
.people:nth-child(3) .avatar {
    object-position: 50% 30%;
}
.people:nth-child(4) .avatar {
    object-position: 50% 10%;
}
.people:nth-child(5) .avatar {
    object-position: 50% 30%;
}
.people:nth-child(6) .avatar {
    object-position: 50% 40%;
}
.people:nth-child(7) .avatar {
    object-position: 50% 0%;
}
.copyright {
    font-size: 0.8rem;
    color:rgb(151, 158, 177);
}
.page.copyright .content{
    margin: 10px auto;
}

.joinus-pdf {
    width: 100%;
    aspect-ratio: 1.33;
}
.pdf-container {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
@media screen and (min-width: 1280px) {
    .joinus-pdf {
        width: 90%;
    }
    
}